<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        {{>header}}
        <h1>{{name}}</h1>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
        {{!-- <img src="/img/20190330_151444.jpg"> --}}
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>